.container{
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    color: #888888;
    border-radius: 1em;
    padding:0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;

    p{
        margin: 0;
        font-size: 0.8em;
    }
}